<!DOCTYPE html>
<html>
<head>
    <title>Excluir Produto</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <a href="produtos_index.html">Voltar</a>
    <a id="url_main" href="index.html">Página inicial</a>
    <div class="search">
        <h1>Excluir Produto</h1>
        <form id="delete-form">
            <label for="cod_produto">Código do Produto:</label>
            <input type="number" id="cod_produto" name="cod_produto">
            <button type="submit">Excluir</button>
        </form>
    </div>
    <div id="results"></div>
    <script src="script_apaga_produtos.js"></script>
</body>
</html>