<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <a href="index.html">Página principal</a>
    <div class="container">
        <header>
            <h1>ZenStock</h1>
        </header>
        <main>
            <nav>
                <ul>
                    <li><a href="produtos_adiciona.html">Adicionar produtos</a></li>
                    <li><a href="produtos_busca.html">Buscar produtos</a></li>
                    <li><a href="produtos_edita.html">Editar produtos</a></li>
                    <li><a href="produtos_apaga.html">Apagar produtos</a></li>
                </ul>
            </nav>
        </main>
    </div>
</body>
</html>