body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: sans-serif;
    background-color: #f4f4f4;
}

main {
    text-align: center; /* Adicionado para centralizar o texto dentro do main */
}

.input#completo {
    margin: 0;
}

.search {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 2px;
    width: 80%;
    max-width: 400px;
    margin-bottom: 5px;
    text-align: center;
}

#search-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0px;
    align-items: start;
}

#search-form label {
    text-align: left;
}

#search-form .completo-container {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

#search-form .completo-container label {
    text-align: left;
    padding-right: 5px;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para a tabela */
    background-color: white;
}

th, td {
    border: 1px solid #ddd; /* Cor de borda mais suave */
    padding: 12px;
    text-align: left;
}

th {
    background-color: #007bff; /* Cor de fundo para cabeçalhos */
    color: white;
}

#results {
    width: 80%;
    text-align: center;
    margin-bottom: 30px;
    margin-left: 200px; /* Removido, centralizando */
}

a {
    color: #007bff; /* Cor dos links */
    text-decoration: none;
    transition: color 0.3s ease;
    margin: 5px;
}

.titulo {
    align-self: center;
    text-align: center;
}

a:hover {
    color: #0056b3; /* Cor dos links ao passar o mouse */
}

.url_main {
    align-self: left;
}

.container {
    width: 80%;
    max-width: 800px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 10px;
}

nav a {
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #0056b3;
}